.calculator {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(54, 52, 52);
}

.screen {
    border-radius: 10px;
    width: 340px;
    height: 100px;
    margin: 25px;
    flex-shrink: 0;
    font-family: 'roboto', 'sans-serif';
    font-size: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(227, 214, 214);
    padding-right: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 320px;
}

.non-numbers {
    display: flex;
    justify-content: space-between;

}

.non-operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    border-radius: 10px;
    font-family: 'roboto', 'sans-serif';
    font-size: 25px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 262px;
    height: 255px;
    justify-content: center;
    align-content: space-between;
    gap: 2px;
}

.number {
    background-color: blue;
    border: solid 2px blue;
    width: 83.3px;
    height: 60px;
}

.operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.operator {
    background-color: rgba(202, 29, 29, 0.991);
    border: solid 2px rgba(202, 29, 29, 0.991);
    width: 75px;
    height: 60px;
    color: white;
}

.clr, .backspace {
    height: 60px;
    width: 83.3px;
    background-color: grey;
    border: solid 2px grey;
    
}

.equals {
    background-color: rgb(18, 152, 18);
    border-color: rgb(18, 152, 18);
    width: 75px;
    height: 60px;
}